
{% extends 'base.html' %}
{% block body %} 

<div class="w-50">
<form action="save_buy_item" method="post" class=" p-3 my-5 "  style=" backdrop-filter: blur(5px);
background-color: rgba(0, 0,0, .2);box-shadow: 2px 2px 5px gray; display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
border-radius: 20px;
">
    {% csrf_token %}
    
    <h2 class="TEXT-CENTER py-2">ADD ITEMS</h2>
    <div style="width:75%; padding:5px;"><h5 class=" p-0 m-0 w-50">Group</h5></div>
    <select class=" px-3 py-2 m-0 w-75 rounded-pill" name="Group">
        {% for i in grp %}
        <option value="{{ i.id }}">{{ i.Group_name}}</option>
        {% endfor %}
    </select>
    <div style="width:75%; padding:5px;"><h5 class=" p-0 m-0">Item Name</h5></div>
    <select class=" px-3 py-2 m-0 w-75 rounded-pill" name="Item_name">
        {% for i in items %}
        <option value="{{ i.id }}">{{ i.Item_name}}</option>
        {% endfor %}
    </select>
    <div style="width:75%; padding:5px;"><h5 class=" p-0 m-0">Quantity</h5></div>
    <input type="number" name="Quantity" class=" px-3 py-2 m-0 w-75 rounded-pill" placeholder="Quantity"><br>
    <div style="width:75%; padding:5px;"><h5 class=" p-0 m-0">Rate</h5></div>
    <input type="number" name="Rate" class=" px-3 py-2 m-0 w-75 rounded-pill" placeholder="Rate"><br>
    <div style="width:75%; padding:5px;"><h5 class=" p-0 m-0">Buying from</h5></div>
    <input type="text" name="company" class=" px-3 py-2 m-0 w-75 rounded-pill" placeholder="company name"><br>
    <div style="width:75%; padding:5px;"><h5 class=" p-0 m-0">Date</h5></div>
    <input type="date" name="date" class=" px-3 py-2 m-0 w-75 rounded-pill" ><br>
    <div style="width:75%; padding:5px;"><h5 class=" p-0 m-0">Month</h5></div>
    <input type="text" name="month" class=" px-3 py-2 m-0 w-75 rounded-pill" ><br>
    
    
    

    <button type="submit" class="btn btn-info w-50 px-3 py-2 my-4 rounded-pill ">Submit</button>
    
</form>
</div>
{% endblock %}